# Rename this file to `.env` and provide real valuesHOTMAIL_CLIENT_ID=your-hotmail-client-idHOTMAIL_AUTHORITY=https://login.microsoftonline.com/consumersHOTMAIL_SCOPE=Mail.ReadTOKEN_CACHE_PATH=your-path-to-store-cached-tokn/.msal_token_cache.bin#example TOKEN_CACHE_PATH=/Users/myuser/Projects/agentic/.msal_token_cache.bin# ───── Gmail Settings ─────# These are optional if you keep the files in your project root.# Uncomment and customize if needed.GMAIL_CREDENTIALS_PATH=/absolute/path/to/gmail_credentials.jsonGMAIL_TOKEN_PATH=/absolute/path/to/gmail_token.json #will be be auto created at this path but its neededAGENTIC_DEV = 1 # 0 or 1, 1 is used when you run the code from some IDE like spyder for code changes. 